<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>服务更新</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <div class="container" style="margin-top: 50px">
            <h2 style="margin-bottom: 35px;text-align: center">更新服务信息</h2>

            <form action="/api/pm/service/update" method="post" class="form-horizontal">

                <input type="hidden" name="_method" value="put">

                <input type="hidden" name="id" th:value="${service.getId()}">

                <div class="form-group">
                    <label for="service-name" class="col-sm-2 control-label">服务名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="serviceName" id="service-name"
                               th:value="${service.getServiceName()}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="service-desc" class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" name="serviceDesc" id="service-desc"
                                  th:text="${service.getServiceDesc()}"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="service-language" class="col-sm-2 control-label">语言</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="serviceLanguage" id="service-language"
                               th:value="${service.getServiceLanguage()}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="service-principal" class="col-sm-2 control-label">负责人</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="servicePrincipal" id="service-principal"
                               th:value="${service.getServicePrincipal()}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="service-gitAddress" class="col-sm-2 control-label">Git地址</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" name="gitAddress" id="service-gitAddress"
                               th:value="${service.getGitAddress()}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="service-gitBranch" class="col-sm-2 control-label">Git分支</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" name="gitBranch" id="service-gitBranch"
                               th:value="${service.getGitBranch()}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>
                </div>
            </form>
        </div>


        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    </body>
</html>